.nav-link li{
    position: relative;
}
.nav-link li a{
    display: block;
}
.drop{
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    display: inline-block;
    background-color: var(--grupo-color-black);
    padding: 20px;
}
.depart:hover .drop{
    opacity: 1;
}